body {
	background-color: rgb(39, 39, 39);
	color: white;
}

nav {
	text-align: center;
}
.nav-title {
	margin: 16px 0;
	font-family: 'Sora', sans-serif;
}

div > h1 {
	font-family: 'Sora', sans-serif;
}
#name {
	color: rgb(240, 184, 55);
}
.card > h2 {
	color: rgb(240, 184, 55);
}

.card > img {
	margin: 16px 0;
}

.card > p {
	color: rgb(208, 194, 251);
}

#bottom,
#top {
	text-align: right;
	padding: 15px;
}

#bottom a,
#top a {
	font-size: 14px;
	color: rgb(109, 109, 109);
}
